*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family:'Karla', sans-serif;
}
.section1{
   margin: 16px;
}
.section1 h2{
  color: rgba(74,190,189,255);
} 
.section1 h3{
  color:  rgba(197,213,118,255);
  padding-top: 5px;
  padding-bottom: 15px;
}
.section1 p{
    color: rgba(192,192,200,255);
    line-height: 10vw;
    font-size: 5vw;
   font-weight:bolder;
}
.section2{
    background-color: rgba(43,179,177,255);
    color: white;
    padding: 20px;
    height: 230px;
}
.FULL{
    font-size: 5vw;
    margin-top: 10px;
    color: rgba(166,239,239,255);
}
.Ms {
    font-size: 6vw;
    margin-top: 5px;
    color: rgba(227,255,255,255);
}
.span{
    display: inline;
    color: rgba(242,255,255,255);
    font-weight: lighter;
}
span{
    color:rgba(110,218,221,255);
}

  
button{
    background-color: rgba(191,223,52,255);
   color: white;
    width: 276px;
    height: 50px;
    border: transparent;
   border-radius: 2vw;
   margin-top: 8px;
   margin-bottom: 10px;
}
.section3{
    color: white;
    background-color: rgba(74,190,189,255);
    height: 215px;
    padding: 20px;
    
}
.Whyus {
    font-size: 5vw;
    color: rgba(211,254,254,255);
    font-weight: bolder;
}
.paragraph{
    line-height:20px;
    color: rgba(156,240,240,255); 
}

@media only screen and (min-width:768px) {
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    body{
        font-family:'Karla', sans-serif;
    }
    .section1{
        margin: 20px;
        padding: 20px;
     }
     .section1 h2{
        color: rgba(74,190,189,255);
      } 
      .section1 h3{
        color:  rgba(197,213,118,255);
        margin-top: 7px;
        padding-top: 0;
        padding-bottom: 10px;
        
      }
      .section1 p{
        color: rgba(192,192,200,255);
       font-weight:bolder;
       font-size:large;
       line-height:4vw;
    }
    .section2{
        background-color: rgba(43,179,177,255);
        color: white;
        padding: 40px;
        height:40vh;
        width: 50vw;  
        float: left; 
    }
    .Ms {
      font-size:large;
        color: rgba(227,255,255,255);
    }
    .span{
        display: inline;
        color: rgba(242,255,255,255);
        font-weight: lighter;
    }
    span{
        color:rgba(110,218,221,255);
    }
    .FULL{
        font-size:2vw;
        color: rgba(166,239,239,255);
    }
    button{
        background-color: rgba(191,223,52,255);
       color: white;
        width: 250px;
        height: 45px;
        border: transparent;
       border-radius: 1vw;
       margin-top: 15px;
       margin-bottom: 10px;
    }
    .section3{
    
        color: white;
        background-color: rgba(74,190,189,255);
        height: 40vh;
        width: 50vw;
        padding: 40px;
        float: right;
    }
    .Whyus {
        font-size: 2vw;
        color: rgba(211,254,254,255);
        font-weight: bolder;
    }
    .paragraph{
        line-height:20px;
        color: rgba(156,240,240,255); 
    }
}
@media only screen and (min-width:1024px){

    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    body{
        font-family:'Karla', sans-serif;
    }
    .section1{
        margin: 20px;
        padding: 20px;
     }
     .section1 h2{
        color: rgba(74,190,189,255);
      } 
      .section1 h3{
        color:  rgba(197,213,118,255);
        margin-top: 7px;
        padding-top: 0;
        padding-bottom: 10px;
        
      }
      .section1 p{
        color: rgba(192,192,200,255);
       font-weight:bolder;
       font-size:20px;
       line-height:40px;
    }
    .section2{
        background-color: rgba(43,179,177,255);
        color: white;
        padding: 40px;
        height:35vh;
        width: 50vw;  
        float: left; 
    }
    .Ms {
      font-size:20px;
        color: rgba(227,255,255,255);
    }
    .span{
        display: inline;
        color: rgba(242,255,255,255);
        font-weight: lighter;
    }
    span{
        color:rgba(110,218,221,255);
    }
    .FULL{
        font-size:16px;
        color: rgba(166,239,239,255);
    }
    button{
        background-color: rgba(191,223,52,255);
       color: white;
        width: 250px;
        height: 48px;
        border: transparent;
       border-radius: 0.5vw;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    .section3{
    
        color: white;
        background-color: rgba(74,190,189,255);
        height: 35vh;
        width: 50vw;
        padding: 40px;
        float: right;
    }
    .Whyus {
        font-size: 20px;
        color: rgba(211,254,254,255);
        font-weight: bolder;
    }
    .paragraph{
        line-height:20px;
        color: rgba(156,240,240,255); 
    }
}

